.purple{
    color: #8064A2;
}
.borderr{
    border-color: #8064A2 !important;
}
.blu{
    color: #0096C8;
}
.bg-purple{
    background-color: #8064A2 !important;
}

.sec-banner{
    background-color:#F7FDFF ;
}